/* .logo {
  display: block;
  text-align: left;
  padding-left: 20px;
}

/* header {
  display: flex;
  height: 110px;
  background-color: black;
  box-shadow: 0px -5px 15px #969595;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.menu-container {
  display: flex;
  float: right;
  margin-left: auto;
  padding-right: 60px;
}
#menu {
  display: flex;
  align-self: center;
}

#menu a {
  margin: 0 10px;
  padding: 10px;
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  letter-spacing: 3px;
}

#menu ul {
  display: flex;
  align-items: center;
}

#menu a:hover {
  color: #e4baad;
}

#menu a.active {
  color: #e4baad;
} */


.header-nav01 {
  background-color: black !important;
  height: 115px !important;
  box-shadow: 0px -5px 15px #969595;
}

.header-nav01 ul li a {
  font-family: "Raleway", sans-serif !important;
  font-weight: bolder !important;
  letter-spacing: 3px !important;
  font-size: 18px !important;
}

.header-nav01 ul li a:hover {
  color: #e4baad !important;
  background-color: transparent !important;
}
.activepage {
  display: revert !important;
  background-color: transparent !important;
  color: #e4baad !important;
}
.logo-nav01 {
  width: 240px;
  padding: 11px;
}

.logo-nav01 img {
  width: 100% !important;
}

.social-media-top {
  font-size: 15px;
  display: flex;
  align-self: center;
}

.social-media-top :hover {
  color: #e4baad;
}
@media (max-width: 980px) {
  .logo-nav01 {
    width: 180px;
  }
  .header-nav01 ul {
    width: 60% !important;
    top: 115px !important;
  }

  .header-nav01 ul li a:hover,
  .header-nav01 ul li a.active {
    color: #e4baad !important;
  }
  .social-media-top {
    justify-content: center;
  }
}

.text-img-home {
  display: flex;
  background-color: #30302e;
}

@media (max-width: 980px) {
  .text-img-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70vh 70vh 50vh;
  }

  #parallax {
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/3;
    background-position-x: center !important;
    background-image: url("images/lisicopy.jpg") !important;
    background-attachment: local !important;
    background-position-y: 10px !important;
  }

  .text-home {
    grid-row: 2/4;
    grid-column: 1/3;
    width: 100% !important;
    padding: 10px 30px !important;
  }
}

.text-home {
  width: 60%;
  padding: 70px;
  text-align: justify;
  background-color: #30302e;
}

#parallax {
  background-position-x: 400px;
  background-position-y: 110px;
  background-image: url("images/lisi.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
main {
  padding-top: 100px;
}
h1 {
  letter-spacing: 1px;
  font-size: 28px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  text-align: left;
  font-weight: bold;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 1px;
  text-align: left;
  font-weight: bold;
}

p,
li {
  letter-spacing: 1px;
  font-size: 18px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
}

.about {
  width: 60%;
  margin: 0 auto;
  padding-top: 70px;
  text-align: justify;
}

button {
  font-family: "Raleway", sans-serif;
  display: flex;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: black;
  color: white;
  border-width: 1px;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  width: 100px;
}
/* 
button:hover {
  background-color: #e4baad;
  background-color: rgb(230, 191, 178);
  border-width: 2px;
  color: black;
} */

.photo-service {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 70px;
}

@media (max-width: 980px) {
  .about {
    width: 100%;
    padding: 70px 30px;
  }

  .photo-service {
    display: block;
    width: 100%;
    padding: 60px 20px;
  }
  .container-services {
    margin: 0 auto;
  }
  .container-haircut {
    margin: 0 auto;
    padding-right: 0px !important;
  }
}

.title-services {
  text-align: left;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.container-services {
  width: 100%;
}

.container-haircut {
  width: auto;
  padding-right: 30px;
}

.negrito {
  font-weight: bold;
}
.service {
  display: table-cell;
  white-space: nowrap;
  padding-right: 5px;
  font-size: 16px;
  line-height: 1.1;
}

.line {
  border-bottom: 1px solid #afaaa9;
  display: table-cell;
  width: 98%;
  position: relative;
  bottom: 10px;
}

.price {
  display: table-cell;
  padding-left: 7px;
  white-space: nowrap;
  vertical-align: bottom;
  font-size: 16px;
}

.slideshow-container {
  position: relative;
}

.active {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 10px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

.contact-form {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 70px;
}

.contact {
  width: 100%;
  align-self: center;
}

.form {
  width: 100%;
}

@media (max-width: 980px) {
  .contact-form {
    display: block;
    width: 100%;
    padding: 60px 30px;
  }
  h2 {
    text-align: center;
  }
  .contact {
    text-align: center !important;
    padding-bottom: 30px;
  }
  .form {
    padding-bottom: 30px;
  }
}

label {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 17px;
  display: flex;
  padding: 10px 0px 1px;
}

input {
  display: flex;
  height: 25px;
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #929292;
  border-width: 1px;
}

input:focus,
select:focus {
  outline: 0;
}

select {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  height: 28px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea {
  height: 100px;
  width: 100%;
  border-radius: 5px;
  border-width: 1px;
  font-family: "Raleway", sans-serif;
}

.social-media {
  font-size: 17px;
  width: auto;
  text-align: center;
  margin-top: 20px;
}

.social-media :hover {
  color: #e4baad;
}

.fa-facebook {
  text-decoration: none;
  color: white;
}

.fa-instagram {
  text-decoration: none;
  margin-left: 20px;
  color: white;
}

footer {
  display: grid;
  background-color: black;
  height: 100px;
  box-shadow: 0 6px 9px 3px #969595;
  position: relative;
}

footer p {
  color: white;
  text-align: center;
  width: 100%;
  align-self: center;
  font-size: 17px;
  margin-bottom: 15px;
}

@media (max-width: 980px) {
  footer p {
    font-size: 15px;
  }
  .social-media {
    font-size: 15px;
  }
}
